* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #ecffb6;
}

/* HEADER */
.header {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  height: 60px;
}

.header-text {
  flex-grow: 1;
}

.header-text h1 {
  margin: 0;
}

.welcome-text {
  margin: 4px 0;
}

.tagline {
  font-size: 14px;
  color: #555;
}

.nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* HOME CONTENT */
.home-content {
  padding: 40px;
}

/* FLOATING BASKET */
.basket-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #b7e800;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  text-decoration: none;
  color: black;

  z-index: 999999;
}

#basket-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
