body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eaff9d;
}

header {
  background: #d8ff3f;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.home {
  text-align: center;
  padding: 60px 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

.product {
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 15px;
}

select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: #b6f000;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.basket-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #b6f000;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
}

#basketCount {
  background: red;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}

.basket ul {
  padding: 30px;
}
